.card {
  background-color: blueviolet;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 28px;
  max-width: 300px;
}

.card input {
  max-width: 200px;
}

.card button {
  width: 100px;
  cursor: pointer;
}

.card a {
  color: white;
}
