/* Módulo CSS para o Footer. O CSS Modules  define localmente o CSS criando automaticamente 
um nome de classe exclusivo que não conflita com outros arquivos*/

.footer {
  background-color: #202124;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer p {
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding: 28px;
}
